textarea {
  background-color: aliceblue;
}

textarea:focus {
  background-color: #fff;
}

textarea.color{
  scrollbar-color: red aliceblue;
}

textarea.color:focus {
  scrollbar-color: blue yellow;
}

.container {
  border: 1px solid lightgray;
  border-radius: 6px;
  display: inline-block;
  padding: 6px;
  background-color: aliceblue;

}

textarea.pad {
  border: none;
  background-color: inherit;
}
